<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029208064132-3hd0ugmdi4r9vn3rdvsgot4qbl9e72d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029208064132-3hd0ugmdi4r9vn3rdvsgot4qbl9e72d9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029208064132-08v3kmlp0dnhdqdai0utbmfmdjtadsn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBq7ViHl3kXC338nrLtHNZzHAFyuOq0HyI</string>
	<key>GCM_SENDER_ID</key>
	<string>1029208064132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bndedu.vitanedu</string>
	<key>PROJECT_ID</key>
	<string>stunning-strand-314307</string>
	<key>STORAGE_BUCKET</key>
	<string>stunning-strand-314307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029208064132:ios:44bdba00b287bcf3d9c2d1</string>
</dict>
</plist>